<% if user_signed_in? and comment.archived? and current_user.admin?%>
  <div class="p-3 bg-secondary text-warning">
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>
    <hr>
    <p>
      <div class="text-light">Archived.</div>
      <br>
      <%= comment.body %>
    </p>
    <p>
      <span class="badge text-bg-warning"><%= link_to "Destroy Comment", [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %></span>
    </p>
  </div>
  <br>
<% elsif !comment.archived? %>
  <div class="p-3 bg-light">
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>
    <p>
      <%= comment.body %>
    </p>
    <p>
      <% if user_signed_in? and comment.user == current_user || current_user.admin? %>
        <span class="badge text-bg-warning"><%= link_to "Destroy Comment", [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %></span>
      <% end %>
    </p>
  </div>
  <br>
<% end %>
