<% if comment.public? %>
  <div class="p-3 bg-light">
    <p>
      <strong>Commented by:</strong>
      <%= link_to comment.user.email, comment.user %>
    </p>
    <hr>
    <p>
      <%= comment.body %>
    </p>
    <% if user_signed_in? and (comment.user == current_user) || current_user.admin? %>
      <%= render partial: "comments/controls", :locals => {comment: comment } %>
    <% end %>
  </div>
  <br>
<% end %>
<% if user_signed_in? %>
  <% if comment.archived? and current_user.admin? %>
    <div class="p-3 bg-secondary text-warning">
      <p>
        <strong>Commented by:</strong>
        <%= link_to comment.user.email, comment.user %>
      </p>
      <hr>
      <p>
        Archived.
        <br>
        <br>
        <%= comment.body %>
      </p>
      <%= render partial: "comments/controls", :locals => {comment: comment } %>
    </div>
    <br>
  <% elsif comment.private? and (comment.user == current_user) || current_user.admin? %>
    <div class="p-3 bg-secondary text-light">
      <p>
        Commented by:
        <%= link_to comment.user.email, comment.user %>
      </p>
      <hr>
      <p>
        Private.
        <br>
        <br>
        <%= comment.body %>
      </p>
      <%= render partial: "comments/controls", :locals => {comment: comment } %>
    </div>
    <br>
  <% end %>
<% end %>
