<hr>
<div class="container border py-3 my-3", style="text-align: left;">
  <div class="text-bg-info p-3">
    <h1>Articles</h1>
    Our blog has <%= Article.public_count %> articles and counting!</div>
</div>
<div class="container border py-3 my-3", style="text-align: left;">
  <ul class="list">
    <% @articles.each do |article| %>
      <% if article.public? %>
        <li class="list-item">
          <h4><%= link_to article.title, article %></h4>
          <small><%= link_to "By: #{article.user.email}", article.user %></small>
        </li>
        <br>
      <% end %>
      <% next unless user_signed_in? %>
      <% if article.archived? and current_user.admin? %>
        <li class="list-item">
          <h4><%= link_to article.title, article %> (archived)</h4>
          <small><%= link_to "By: #{article.user.email}", article.user %></small>
        </li>
        <br>
      <% elsif article.private? and current_user.admin? || (current_user == article.user) %>
        <li class="list-item">
          <h4><%= link_to article.title, article %> (private)</h4>
          <small><%= link_to "By: #{article.user.email}", article.user %></small>
        </li>
        <br>
      <% end %>
    <% end %>
  </ul>
  <% if user_signed_in? %>
    <br>
    <span class="badge text-bg-warning"><%= link_to "New Article", new_article_path %></span>
    <br>
  <% end %></div>
